body {
  background-image: url(tech.jpg);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  float: left;
}

a {
  color: #00B7FF;
}

.card {
  padding: 20px;
  float: left;
  margin: 20px;
}

.Cards {
  padding: 20px;
  float: left;
  margin: 20px;
  margin-left: -100px;
}

form {
  all: unset;
}
